<h2><%= current_user.company.name%></h2>
<%= render 'shared/subtabs' %>
<div class='container'>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Update Vehicle </h2>
        <%= form_for @taxi, url: {action: "update"} do |f| %>
        <table class="table">
          <tr>
            <td><%= f.label "Driver's ID:" %></td>
            <td><%= f.text_field :driver_id %></td>
          </tr>
          <tr>
            <td><%= f.label "License Plate Number:" %></td>
            <td><%= f.text_field :license_plate %></td>
          </tr>
          <tr>
            <td><%= f.label "Company Vehicle Number" %></td>
            <td><%= f.text_field :company_vehicle_number %></td>
          </tr>

        </table>

        <%= f.submit "Update", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
