

<table class='table table-hover'>
  <tr>
    <th>Driver Full Name</th>
    <th>Driver ID</th>
    <th>Taxi Identification Number</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <tbody>
    <% @taxis.each do |taxi| %>
      <tr>
        <td><%= taxi.driver_first_name %></td>
        <td><%= taxi.driver_id %></td>
        <td><%= taxi.id %></td>
        <td><%= link_to 'Show', '#' %></td>
        <td><%= link_to 'Edit', '#' %></td>
        <td><%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </tr>
</table>
