<h2>Dashboard | <%= current_user.company.name %></h2>

<%= render 'shared/subtabs' %>

<table table id="allTaxis" class="display" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Driver ID</th>
    <th>License Plate Number</th>
    <th>Company Vehicle Number</th>
    <th>Generated Identification Number</th>
    <th>Make QR Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @taxis.each do |taxi| %>
      <tr>
        <td><%= taxi.driver_id ? taxi.driver_id : "" %></td>
        <td><%= taxi.license_plate ? taxi.license_plate : "" %></td>
        <td><%= taxi.company_vehicle_number ? taxi.company_vehicle_number : "" %></td>
        <td><%= taxi.id ? taxi.id : "" %></td>
        <td><%= link_to "QR Code", create_qr_code_path(taxi), :class => 'btn btn-sm btn-primary' %></td>
        <td><%= link_to 'Show', user_taxi_path(current_user, taxi), :class => 'btn btn-sm btn-primary'%></td>
        <td><%= link_to 'Edit', edit_user_taxi_path(current_user, taxi), :class => 'btn btn-sm btn-primary' %></td>
        <td><%= link_to 'Remove', user_taxi_path(current_user, taxi), :class => 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class='col-lg-6 col-lg-offset-5'>
    <div class=''>
      <%= link_to "Add Vehicle", new_user_taxi_path(current_user),
        :class => 'btn btn-lg btn-primary', :id => 'addtaxi' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#allTaxis').dataTable();
  });
</script>
