<h2>Dashboard | <%= current_user.company_name ? current_user.company_name : ""%></h2>
<%= render 'shared/subtabs' %>
<br>

<table id="mostReviews" class="display" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th># of Reviews Answered</th>
    <th>Name</th>
    <th>License</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @top_five.reverse.each do |taxi| %>
    <tr>
      <td><%= taxi[0] %></td>
      <td><%=Taxi.full_name(Taxi.find_by(id: taxi[1]))  %></td>
      <td><%= Taxi.find_by(id: taxi[1]).driver_id %></td>
      <td><%= link_to "Show", user_taxi_path(current_user, Taxi.find_by(id: taxi[1])),
                :class => 'btn btn-sm btn-primary' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#mostReviews').dataTable({
      "order": [[0, 'desc']]
    });
  });
</script>
