<h2><%= current_user.company_name %></h2>
<%= render 'shared/subtabs' %>

<div class='container'>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2> Add Vehicle </h2>
        <%= form_for @taxi, url: {action: "create"} do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
        <table class="table">
          <tr>
            <td><%= f.label 'Driver First Name:' %></td>
            <td><%= f.text_field :driver_first_name %></td>
          </tr>
          <tr>
            <td><%= f.label 'Driver Last Name:' %></td>
            <td><%= f.text_field :driver_last_name %></td>
          </tr>
          <tr>
            <td><%= f.label "Driver's License:" %></td>
            <td><%= f.text_field :driver_id %></td>
          </tr>

        </table>

        <%= f.submit "Create", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
