<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @user.company_name %>
</p>

<p>
  <strong>Taxi count:</strong>
  <%= @user.taxi_count %>
</p>

<%= link_to 'Add Taxi', new_user_taxi_path(@user.id) %> |
<%= link_to 'Show Taxis', user_taxis_path(@user.id) %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
