<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" id="logobar">Rate Your Cab</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav pull-right">
        <% if !current_user %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% else %>
          <% if current_user.company %>
            <li><%= link_to "Dashboard", user_taxis_path(current_user) %></li>
            <li><%= link_to "Review", user_reviews_path(current_user) %></li>
            <li><%= link_to "Edit Profile", edit_company_path(current_user.company) %></li>
          <% end %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
