<%= form_for @answer do |f| %>
  <% if q.answer_type = "Text Response"%>
    <td><%= f.text_area :content%> </td>
  <% elsif q.answer_type = "Number Response"%>
    <td><%= f.text_area :content %> </td>
  <% elsif q.answer_type = "Yes/No"%>
    <td><%= f.select :content, ["Yes","No"]%> </td>
  <% elsif q.answer_type = "1-5"%>
    <td><%= f.select :content, ['1','2','3','4','5'] %> </td>
  <%end%>
<% end %>
