<div class='container'>
  <div class="col-sm-6 col-sm-offset-3">
    <div class="content survey">
    <h3><%= @review.name %></h3>

    <%= form_tag survey_create_path, method: :post do %>


      <% for q in @questions %>
        <tr>
          <td><%= q.content %></td>
        </tr>
        <tr>
          <div class='input-group'>
            <%= fields_for 'answers[]', @answer do |f| %>
              <% if q.answer_type == "Text Response"%>
                <td><%= f.text_area :content %> </td>
              <% elsif q.answer_type == "Number Response"%>
                <td><%= f.text_area :content %> </td>
              <% elsif q.answer_type == "Yes/No"%>
                <td><%= f.select :content, ["Yes","No"]%> </td>
              <% elsif q.answer_type == "1-5"%>
                <td><%= f.select :content, ['1','2','3','4','5'] %> </td>
              <%end%>
              <!-- for taxi_id and question_id on submission -->

              <div class='hidden'>
                <%= f.hidden_field :taxi_id, :value => params[:search] %>
                <%= f.hidden_field :question_id, :value => q.id %>
              </div>
          </div>
          <% end %>
        </tr>
        <br>

      <% end %>

      <%= submit_tag "Submit Review", name: nil, id: 'submit-review', class: 'btn btn-default center' %>

    <% end %>
    </div>
  </div>
</div>

