<div class='container'>
  <div class="col-sm-6 col-sm-offset-3">
    <div class="content survey">

      <div class="background-image hidden-sm hidden-xs hidden-md"></div>

    <%= form_tag survey_create_path, method: :post do %>

      <div class="content">

        <% for q in @questions %>

          <tr>
            <td><%= q.content %></td>
          </tr>
          <tr>
            <div class='input-group'>
              <%= fields_for 'answers[]', @answer do |f| %>
                <% if q.answer_type == "Text Response"%>
                  <td><%= f.text_area :content %> </td>
                <% elsif q.answer_type == "Number Response"%>
                  <td><%= f.text_area :content %> </td>
                <% elsif q.answer_type == "Yes/No"%>
                  <td><%= f.select :content, ["Yes","No"], prompt: "Please Select"%> </td>
                <% elsif q.answer_type == "1-5"%>
                  <!-- need to set 5 inline checkboxes ... selecting 5 stars on one changes all to 5 stars....-->
                  <td><%= f.select :content, ['1','2','3','4','5'] %></td>

                <% elsif q.answer_type == "Date" %>
                  <td><%= f.date_field :content %></td>
                <% elsif q.answer_type == "Time" %>
                  <td><%= f.time_field :content %></td>
                <%end%>
                <!-- for taxi_id and question_id on submission -->

                <div class='hidden'>
                  <%= f.hidden_field :taxi_id, :value => params[:search] %>
                  <%= f.hidden_field :question_id, :value => q.id %>
                </div>
            </div>
            <% end %>
          </tr>
          <br>
        <% end %>

        <%= hidden_field_tag :taxi_carryover, params[:taxi_carryover], :value => params[:search] %>

      <%= submit_tag "Submit Review", name: nil, id: 'submit-review', class: 'btn btn-default center' %>
    </div>

    <% end %>
    </div>
  </div>
</div>


