<h2>Add Company </h2>
<%= render 'shared/subtabs' %>

<div class='container'>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for @company, url: {action: "create"} do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
        <table class="table">
          <tr>
            <td><%= f.label 'Company Name:' %></td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><%= f.label 'Street Address:' %></td>
            <td><%= f.text_field :street_address %></td>
          </tr>
          <tr>
            <td><%= f.label "City:" %></td>
            <td><%= f.text_field :city %></td>
          </tr>
          <tr>
            <td><%= f.label "State:" %></td>
            <td><%= f.text_field :state %></td>
          </tr>
          <tr>
            <td><%= f.label "Zip Code:" %></td>
            <td><%= f.text_field :zipcode %></td>
          </tr>
          <tr>
            <td><%= f.label "Name of Contact:" %></td>
            <td><%= f.text_field :contact_person %></td>
          </tr>
          <tr>
            <td><%= f.label "Phone Number:" %></td>
            <td><%= f.text_field :phone_number %></td>
          </tr>
          <tr>
            <td><%= f.label "Email Address:" %></td>
            <td><%= f.text_field :email %></td>
          </tr>

        </table>

        <%= f.submit "Create", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
