
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @review, url: {action: "update"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="hidden control-group">
        <%= f.label :name  %>
        <%= f.text_field :name %>
      </div>

      <%= f.fields_for :questions, @questions  do |builder|%>
        <%= render 'question_fields_update', f: builder %>
      <% end %>


      <%= link_to_add_association 'Add A Question', f, :questions, :id => 'add-before',
          :class => 'btn btn-sm btn-primary' %> <br><br>

      <%= f.submit "Update Review", class: 'btn btn-lg btn-primary'  %>

    <% end %>
  </div>
</div>
