<h2>Reviews | <%= current_user.company.name %> </h2>
<table class='table table-hover'>
  <tr>
    <th>Review Name</th>
    <th>Make Default Review</th>
    <th>Show Questions</th>
    <th></th>
  </tr>
  <tr>
    <tbody>
      <% if @reviews.empty? %>
        <p> You Must <%= link_to "Create Review", new_user_review_path(current_user), :class => 'btn btn-lg btn-primary' %>
      <% else %>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= review.name %></td>

            <% if review.use_this_review == true %>
              <td><%= link_to 'Selected', "#", :class => 'btn btn-sm btn-success' %></td>
            <% else %>
              <td><%= link_to 'Pick', select_for_use_path(current_user, review), method: :post, :class => 'btn btn-sm btn-primary' %></td>
            <% end %>

            <td><%= link_to 'Show', user_review_path(current_user, review), :class=>'btn btn-sm btn-primary' %></td>
            <td><%= link_to 'Delete', user_review_path(current_user, review), method: :delete, data: { confirm: 'You will no longer be able to use this review for your company.  Do you wish to continue?' }, :class => 'btn btn-sm btn-danger' %></td>
          </tr>
        <% end %>
      <% end %>
  </tbody>
  </tr>
</table>

<div class="row">
  <div class='col-lg-6 col-lg-offset-5'>
    <%= link_to "Create New Review", new_user_review_path(current_user), :class => 'btn btn-md btn-primary' %>
  </div>
</div>
<br><br>


