<h1><%= @review.name %></h1>

<table class='table table-hover'>
  <tr>
    <th>Question</th>
    <th>Response Type</th>
    <th>Question ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <tbody>
    <% @questions.each do |taxi| %>
      <tr>
        <td><%= taxi.content %></td>
        <td><%= taxi.answer_type %></td>
        <td><%= taxi.id%></td>
        <td><%= link_to 'Show', "#" %></td>
        <td><%= link_to 'Edit', '#' %></td>
        <td><%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </tr>
</table>

