<h2><%= @review.name %> | <%= current_user.company.name %></h2>
<%= render 'shared/subtabs' %>

<table class='table table-hover'>
  <tr>
    <th>Question</th>
    <th>Response Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td><%= question.answer_type %></td>

        <td><%= link_to 'Edit', edit_question_path(question), :class => 'btn btn-sm btn-primary'%></td>
        <td><%= link_to 'Remove', remove_question_path(@review, question), method: :post, data: { confirm: 'This will remove this question from your review, but you will still see any answers to that questions in your comments or graphs.  Do you wish to remove it?' }, :class => 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
  </tr>
</table>


